.styleKits {
    max-height: 500px;
    width: 800px;
    overflow: auto;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.styleKits::-webkit-scrollbar {
    width: .75em;
}

.styleKits::-webkit-scrollbar-track {
    background-color: var(--color-dark);
}

.styleKits::-webkit-scrollbar-thumb {
    background-color: var(--color-medium-dark);
}

.kitCard {
    margin: auto;
    margin: 20px;
    margin-top: 5px;
    width: 350px;
    border: solid 1px var(--color-medium-dark);
    border-radius: 24px;
    background-color: rgba(255, 255, 255, .05);
}
.kitCard:hover {
    background-color: var(--color-medium-dark)
}

.kitName {
    margin: auto;
    text-align: center;
    font-size: 18px;
    color: var(--color-medium-light)
}

.topRow {
    display: flex;
}

.colorGrid {
    width: 80px;
    height: 80px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 20px;
}

.colorGridSquare {
    width: 40px;
    height: 40px;
}

.kitCardFonts {
    margin-top: 12px;
}

.kitCardMainFont {
    margin-top: 14px;
    text-align: center;
    font-size: 28px;
    width: 200px;
    height: 40px;
    line-height: 40px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.kitCardSecondaryFont {
    font-size: 18px;
    width: 200px;
    height: 25px;
    line-height: 25px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: center;
}

.bottomRow {
    display: flex;
    justify-content: center;
}

.kitCardButton {
    border: none;
    font-size: 12px;
    height: 30px;
    line-height: 0px;
    background: none;
    border-radius: 18px;
    color: var(--color-medium-light);
    transition: 0.25s;
    margin: auto;
    margin-bottom: 10px;
    margin-left: 12px;
    margin-right: 12px;
    height: 30px
}

.kitCardButton:hover {
    color: var(--color-light);
}

.kitDetailsMaster {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.styleKitDetails {
    padding: 15px;
    margin: auto;
    display: flex;
    justify-content: center;
    flex-direction: column-reverse;
    text-align: center;
    background: none;
}

.hexAndSquare {
    margin: 5px;
}

.fontChoiceDetails {
    margin-bottom: 10px;
}

.dropbtn {
    border: none;
    font-size: 12px;
    height: 30px;
    line-height: 0px;
    background: none;
    border-radius: 18px;
    color: var(--color-medium-light);
    transition: 0.25s;
    margin: auto;
    margin-bottom: 10px;
    margin-left: 12px;
    margin-right: 12px;
    height: 30px
}

/* The container <div> - needed to position the dropdown content */

.dropdown {
    position: relative;
    display: inline-block;
}

/* Dropdown Content (Hidden by Default) */

.dropdown-content {
    user-select: none;
    font-size: 12px;
    display: none;
    position: absolute;
    background-color: var(--color-light);
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    transform: translateY(-110px)
}

/* Links inside the dropdown */

.dropdown-content div {
    color: var(--color-dark);
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

/* Change color of dropdown links on hover */

.dropdown-content div:hover {
    background-color: var(--color-medium-light);
}

/* Show the dropdown menu on hover */

.dropdown:hover .dropdown-content {
    display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */

.dropdown:hover .dropbtn {
    color: var(--color-light);
}

.returnButton {
    font-size: 12px;
    padding: 10px;
    padding-top: 14px;
    padding-bottom: 14px;
    width: 100px;
    height: 30px;
    line-height: 0px;
    background: none;
    border: solid 1px var(--color-medium-light);
    border-radius: 18px;
    color: var(--color-medium-light);
    transition: 0.25s;
    margin: auto;
    margin-top: 15px;
    height: 30px
}

.returnButton:hover {
    border: solid 1px var(--color-light);
    color: var(--color-light);
    width: 130px
}