.colorBox {
    height: 230px;
    width: 485px;
    padding: 15px;
    margin: auto;
    margin-bottom: 60px;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: wrap;
    text-align: center;
    border: solid 1px var(--color-medium-dark);
    border-radius: 24px;
    background-color: rgba(255, 255, 255, .05);
}

.colorDisplay {
    font-family: var(--secondary-font);
    width: 230px;
    height: 225px;
    border-radius: 2px;
    padding: 5px;
    font-weight: lighter;
}

.colorSquare {
    height: 170px;
    width: 50px;
    border: solid .5px var(--color-medium-light);
    border-radius: 5px;
    margin-bottom: 5px
}

.colorRow {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding-top: 5px;
    padding-bottom: 5px;
}

.chrome-picker {
    margin-top: 10px;
    background: none !important;
    box-shadow: none !important;
}

.colorvl {
    border-left: 1px solid var(--color-medium-dark);
    height: 212px;
    margin-top: 3px;
    margin: auto;
    transform: translate(-4.25px, -3.5px);
    /* display: none; */
  }

.chrome-picker span{
    font-family: var(--secondary-font)
}

.chrome-picker input {
    background: none !important;
    box-shadow: none !important;
    width: 80% !important;
    border: solid 1px var(--color-medium-dark) !important;
    color: var(--color-medium-light) !important;
    transition: 0.25s;
}

.chrome-picker input:focus {
    color: var(--color-light) !important;
    width: 90% !important;
    border: solid 1px var(--color-medium-light) !important;
}

.chrome-picker svg {
    fill: var(--color-medium-light) !important;
}

.chrome-picker svg:hover {
    fill: var(--color-dark) !important;
    background: var(--color-medium-dark) !important;
}


.btn {
    font-size: 12px;
    padding-right: 4px;
    padding-left: 4px;
    background: none;
    border: none;
    color: var(--color-medium-dark);
    transition: 0.25s;
}

.active, .btn:hover {
    color: var(--color-light)
}

.darkText {
    color: var(--color-medium-light)
}

.saveColorButton {
    font-size: 12px;
    padding: 10px;
    width: 130px;
    height: 30px;
    line-height: 0px;
    background: none;
    border: solid 1px var(--color-medium-light);
    border-radius: 18px;
    color: var(--color-medium-light);
    transition: 0.25s;
    margin: auto;
    margin-top: 30px;
}

.saveColorButton:hover {
    border: solid 1px var(--color-light);
    color: var(--color-light);
    width: 140px
}