.fontBox {
    height: 230px;
    width: 485px;
    padding: 15px;
    margin: auto;
    margin-bottom: 60px;
    display: flex;
    justify-content: center;
    flex-direction: row;
    text-align: center;
    border: solid 1px var(--color-medium-dark);
    border-radius: 24px;
    background-color: rgba(255, 255, 255, .05)
}

.buttonBox {
    margin: auto;
    width: 220px;
    margin-bottom: 4px;
    background-color: var(--color-dark);
    padding-bottom: 10px;
    padding-top: 4px;
    border-radius: 10px;
    border: solid 1px var(--color-medium-dark)
}

.fontDisplay {
    font-family: var(--secondary-font);
    width: 480px;
    height: 225px;
    border-radius: 2px;
    padding: 5px;
    font-weight: lighter;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    margin-left: 5px;
}

.mainFontDisplay {
    margin-top: 14px;
    font-size: 33px;
    width: 220px;
    height: 40px;
    line-height: 40px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.secondaryFontDisplay {
    font-size: 14px;
    width: 220px;
    height: 25px;
    line-height: 25px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.fontPreviewAndOptions {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-right: 5px;
}

.fontPreview {
    height: 65px;
    margin-top: 10px;
}

.fontvl {
    border-left: 1px solid var(--color-medium-dark);
    height: 225px;
    margin-top: 3px;
    margin: auto;
}

.fontVariationButtonGroup {
    font-size: 2px;
    height: 40px;
    margin-bottom: 0px;
}

.btn {
    font-size: 12px;
    background: none;
    border: none;
    color: var(--color-medium-dark);
    transition: 0.25s;
}

.active, .btn:hover {
    color: var(--color-light)
}

.MOS {
    font-size: 18px;
    padding-left: 5px;
    padding-right: 5px;
    transform: translateY(2px);
    margin-top: 2px;
}

.darkText {
    color: var(--color-medium-light)
}

.buttonLine {
    width: 160px;
    margin: auto;
    margin-top: 2px;
    margin-bottom: 2px;
    height: .1px;
    border-color: var(--color-medium-dark)
}

.fontContainer {
    height: 220px;
    width: 220px;
    overflow: auto;
    margin-bottom: 10px;
    margin-top: 1px;
    text-align: left;
    border: solid 1px var(--color-medium-dark);
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    background-color: var(--color-dark);
    transform: translateY(-2px);
    word-break: break-all
}

.fontContainer::-webkit-scrollbar {
    width: .75em;
}

.fontContainer::-webkit-scrollbar-track {
    border-left: solid 1px var(--color-medium-dark);
    background-color: var(--color-dark);
  -webkit-box-shadow: inset 0 0 2px rgba(0,0,0,0.3);
}

.fontContainer::-webkit-scrollbar-thumb {
  background-color: var(--color-medium-dark);
}

.listedFont {
    user-select: none;
    font-size: 22px;
    padding: 10px
}

.listedFont:hover {
    background-color: rgba(255, 255, 255, .2)
}

.selected {
    background-color: rgba(255, 255, 255, .2)
}

.fontSearch {
    border: 0;
    background: none;
    display: block;
    margin: auto;
    text-align: center;
    border: 1px solid var(--color-medium-light);
    padding: 2px;
    margin-top: 0px;
    width: 100px;
    outline: none;
    color: var(--color-light);
    border-radius: 24px;
    transition: 0.25s;
    font-size: 12px;
    transform: translateY(-1px)
}

.fontSearch:focus {
    border-color: var(--color-light);
    width: 130px;
}