:root {
  --color-dark: #151515;
  --color-medium-dark: #7d7d7d;
  --color-medium-light: #ababab;
  --color-light: #ffffff;
  --main-font: Helvetica;
  --secondary-font: Arial
}

html {
  height: 100%
}

body {
  font-family: var(--secondary-font);
  margin: 0;
  overflow: auto;
  height: 100vh;
  background-color: var(--color-dark);
  color: var(--color-light);
  transition: 0.25s
}

textarea, select, input, button {
  outline: none;
}

.masterContainer {
  padding: 0;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
  width: 100%;
}

.pageTitle {
  text-align: center;
  color: var(--color-medium-light)
}

button {
  font-family: var(--secondary-font);
}

.tooltip {
  display: inline-block;
  font-size: 12px;
  width: 16px;
  height: 16px;
  line-height: 16px;
  text-align: center;
  background-color: var(--color-medium-dark);
  color: var(--color-light);
  border-radius: 100%;
  margin-left: 5px;
  transform: translateY(-2px);
  user-select: none;
}