:root {
  --color-dark: #151515;
  --color-medium-dark: #7d7d7d;
  --color-medium-light: #ababab;
  --color-light: #ffffff;
  --main-font: Helvetica;
  --secondary-font: Arial
}

.logo {
  font-family: var(--main-font);
  text-align: center;
  font-size: 7em;
  font-weight: bold;
  margin-top: 4vh;
  margin-bottom: 4vh;
  user-select: none;
}

.logo:hover {
  cursor: pointer;
}

html {
  height: 100%
}

body {
  font-family: var(--secondary-font);
  margin: 0;
  overflow: auto;
  height: 100vh;
  min-height: 100vh;
  max-width: 100vw;
  background-color: var(--color-dark);
  color: var(--color-light);
  transition: 0.25s;
  font-size: 11px;
}

@media(max-width:550px) {
  body {
    font-size: 10px;
  }
  ;
}

@media(min-width:551px) {
  body {
    font-size: 11px;
  }
  ;
}

@media(min-width:750px) {
  body {
    font-size: 12px;
  }
  ;
}

textarea, select, input, button {
  outline: none;
}

.masterContainer {
  padding: 0;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
  width: 100%;
}

.pageTitle {
  text-align: center;
  color: var(--color-medium-light)
}

button {
  font-family: var(--secondary-font);
}

.tooltip {
  display: inline-block;
  font-size: 12px;
  width: 16px;
  height: 16px;
  line-height: 16px;
  text-align: center;
  background-color: var(--color-medium-dark);
  color: var(--color-light);
  border-radius: 100%;
  margin-left: 5px;
  transform: translateY(-2px);
  user-select: none;
}

.kitCardContainer {
  height: auto;
  width: 90%;
  min-width: 350px;
  overflow: hidden;
  margin: auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  padding-top: 5px;
}

.kitCard {
  user-select: none;
  margin: auto;
  margin: 20px;
  margin-top: 5px;
  width: 60vw;
  max-width: 432px;
  min-width: 300px;
  height: 25vw;
  max-height: 180px;
  min-height: 125px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  transition: 0.1s;
  border: solid 1px var(--color-medium-dark);
  border-radius: 5px;
  box-shadow: 8px 8px 16px 0px rgba(0, 0, 0, .25);
  background-color: rgba(255, 255, 255, .03);
}

@-webkit-keyframes hvr-push {
  50% {
    -webkit-transform: scale(0.95);
    transform: scale(0.95);
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

@keyframes hvr-push {
  50% {
    -webkit-transform: scale(0.95);
    transform: scale(0.95);
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

.kitCardMaster {
  transition: 0.1s;
}

/* Back Pulse */

@-webkit-keyframes hvr-back-pulse {
  100% {
    background-color: rgba(255, 255, 255, .12);
    ;
  }
}

@keyframes hvr-back-pulse {
  100% {
    background-color: rgba(255, 255, 255, .12);
    ;
  }
}

.kitCard:hover {
  -webkit-animation-name: hvr-push, hvr-back-pulse;
  animation-name: hvr-push, hvr-back-pulse;
  -webkit-animation-duration: 0.2s;
  animation-duration: 0.2s;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  animation-fill-mode: forwards;
  -webkit-animation-fill-mode: forwards;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;
}

.kitNameLine {
  width: 16em;
  margin-bottom: 1%;
  border-color: var(--color-medium-dark)
}

.kitName {
  margin: auto;
  text-align: center;
  font-size: 1.5em;
  color: var(--color-light);
  user-select: none;
}

.kitNameDetails {
  margin: auto;
  text-align: center;
  font-size: 2em;
  color: var(--color-light)
}

.topRow {
  display: flex;
}

.colorGrid {
  width: 30%;
  height: 72%;
  transform: translateY(18%);
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-left: 5%;
}

.colorGridSquare {
  width: 50%;
  height: 50%;
}

.kitCardFonts {
  width: 60%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.kitCardFontGroup {
  margin: 5%;
  transform: translateX(-5%)
}

.kitCardMainFont {
  text-align: center;
  font-size: 3em;
  width: 100%;
  height: auto;
  word-wrap: break-word;
  overflow: hidden;
  margin-bottom: 2px;
}

.kitCardMainFont::first-line {
  line-height: .9em;
}

.kitCardSecondaryFont {
  font-size: 1.5em;
  width: 100%;
  height: auto;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  text-align: center;
}

.bottomRow {
  display: flex;
  justify-content: center;
}

.buttonRow {
  width: 100%;
  transform: translateY(.5vh)
}

.kitCardButton {
  border: none;
  font-size: .9em;
  height: 15%;
  background: none;
  color: var(--color-medium-light);
  transition: 0.25s;
  margin: 2%;
}

.kitCardButton:hover {
  color: var(--color-light);
}

.kitNameAndEdit {
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.kitDetailsMaster {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-height: 485px;
}

.styleKitDetails {
  padding: 3vh;
  padding-bottom: 1vh;
  margin: auto;
  margin-top: 10px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  height: 50vw;
  width: 60vw;
  min-height: 190px;
  max-height: 365px;
  min-width: 240px;
  max-width: 458px;
  border: solid 1px var(--color-medium-dark);
  border-radius: 5px;
  box-shadow: 8px 8px 16px 0px rgba(0, 0, 0, .25);
  background-color: rgba(255, 255, 255, .03);
}

.styleKitEmbedCode {
  padding: 25px;
  padding-top: 0px;
  padding-bottom: 0px;
  margin: auto;
  margin-top: 10px;
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  text-align: center;
  border: solid 1px var(--color-medium-dark);
  border-radius: 24px;
  background-color: rgba(255, 255, 255, .05);
}

.colorEmbedCode {
  width: 250px;
  height: 275px;
  display: flex;
  flex-direction: column;
  justify-content: center
}

.colorEmbedSquare {
  width: 50px;
  height: 50px;
  border-radius: 4px;
  border: solid 1px var(--color-medium-light);
}

.colorEmbedName {
  font-size: 16px;
  line-height: 40px;
  margin-left: 5px;
}

.individualColorEmbed {
  display: flex;
  flex-direction: row;
  padding: 6px;
}

.fontEmbedCode {
  width: 250px;
  height: 275px;
}

.embedCode {
  height: 18px;
  width: 160px;
  transform: translate(10px, 6px);
  border: solid 1px var(--color-medium-dark);
  background-color: var(--color-dark);
  color: var(--color-light);
  padding-left: 4px;
  padding-right: 4px;
  border-radius: 12px;
}

.embedTitle {
  text-align: left;
  margin-left: 10px;
  font-size: 16px;
  transform: translateY(2px);
  color: var(--color-medium-light);
}

.hexAndSquare {
  margin: 5px;
  width: 40%;
}

.fontChoiceDetails {
  margin-bottom: 2%;
}

/* The container <div> - needed to position the dropdown content */

.dropdown {
  display: inline-block;
  margin: 2%;
}

/* Dropdown Content (Hidden by Default) */

.dropdown-content {
  user-select: none;
  position: absolute;
  overflow: hidden;
  background-color: var(--color-dark);
  min-width: 120px;
  box-shadow: 8px 8px 16px 0px rgba(0, 0, 0, .1);
  z-index: 1;
  transition: 0.25s;
  height: 0px;
}

/* Links inside the dropdown */

.dropdown-content div {
  color: var(--color-medium-light);
  padding: 6px 6px;
  text-decoration: none;
  font-size: 14px;
  display: block;
  text-align: left;
}

/* Change color of dropdown links on hover */

.dropdown-content div:hover {
  background-color: var(--color-medium-dark);
  color: var(--color-light)
}

/* Show the dropdown menu on hover */

.dropdown:hover .dropdown-content {
  border: solid 1px var(--color-medium-dark);
  height: 84px;
  display: block;
}

.returnButton {
  font-size: 1em;
  padding: 25px;
  padding-top: 1vw !important;
  padding-bottom: 1vw !important;
  line-height: 0px;
  background: none;
  border: solid 1px var(--color-medium-light);
  border-radius: 18px;
  color: var(--color-medium-light);
  transition: 0.25s;
  margin: auto;
  margin-top: 2vh;
  height: 30px
}

.returnButton:hover {
  border: solid 1px var(--color-light);
  color: var(--color-light);
  padding: 45px;
}

.addNewKit {
  width: 100%;
  margin-bottom: 20px;
}

.addNewKitButton {
  display: block;
  font-size: 14px;
  padding: 10px;
  padding-top: 14px;
  padding-bottom: 14px;
  min-width: 130px;
  height: 35px;
  line-height: 0px;
  background: none;
  border: solid 1px var(--color-medium-light);
  border-radius: 18px;
  color: var(--color-medium-light);
  transition: 0.25s;
  margin: auto;
  margin-top: 15px;
}

.addNewKitButton:hover {
  border: solid 1px var(--color-light);
  color: var(--color-light);
  min-width: 160px
}

.fontMaster {
  display: flex;
  flex-direction: column;
}

.editFontMaster {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.fontBox {
  margin: auto;
  text-align: center;
}

.buttonBox {
  margin: auto;
  width: 220px;
  margin-bottom: 4px;
  background-color: var(--color-dark);
  padding-bottom: 10px;
  padding-top: 4px;
  border-radius: 5px;
  margin-bottom: 10px;
}

.fontDisplay {
  font-family: var(--secondary-font);
  width: 100%;
  border-radius: 2px;
  padding: 5px;
  display: flex;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
}

.mainFontDisplay {
  font-size: 33px;
  height: 40px;
  max-width: 95vw;
  line-height: 40px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  transition: 0.25s;
  user-select: none;
}

.mainFontDisplayText:hover {
  color: var(--color-light) !important;
  cursor: pointer;
}

.secondaryFontDisplay {
  font-size: 18px;
  height: 25px;
  line-height: 25px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  transition: 0.25s;
  user-select: none;
}

.secondaryFontDisplayText:hover {
  color: var(--color-light) !important;
  cursor: pointer;
}

.fontPreviewAndOptions {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.fontPreview {
  margin-top: 10px;
}

.fontvl {
  border-left: 1px solid var(--color-medium-dark);
  height: 225px;
  margin-top: 3px;
  margin: auto;
}

.darkText {
  color: var(--color-medium-light)
}

.buttonLine {
  width: 163px;
  margin: auto;
  margin-top: 2px;
  margin-bottom: 2px;
  height: .1px;
  border-color: var(--color-medium-dark)
}

.fontContainer {
  height: 180px;
  width: 220px;
  overflow: auto;
  margin: auto;
  margin-bottom: 10px;
  margin-top: 10px;
  text-align: left;
  border: solid 1px var(--color-medium-dark);
  background-color: var(--color-dark);
  transform: translateY(-2px);
  word-break: break-all;
  box-shadow: 8px 8px 16px 0px rgba(0, 0, 0, .25) !important;
}

.fontContainer::-webkit-scrollbar {
  width: .75em;
}

.fontContainer::-webkit-scrollbar-track {
  border-left: solid 1px var(--color-medium-dark);
  background-color: var(--color-dark);
  -webkit-box-shadow: inset 0 0 2px rgba(0, 0, 0, 0.3);
}

.fontContainer::-webkit-scrollbar-thumb {
  background-color: var(--color-medium-dark);
}

.listedFont {
  user-select: none;
  font-size: 22px;
  padding: 10px;
}

.listedFont:hover {
  background-color: rgba(255, 255, 255, .2)
}

.selected {
  background-color: rgba(255, 255, 255, .2)
}

.fontSearch {
  border: 0;
  background: none;
  display: block;
  margin: auto;
  text-align: center;
  border: 1px solid var(--color-medium-light);
  padding: 2px;
  margin-top: 0px;
  width: 140px;
  outline: none;
  color: var(--color-light);
  border-radius: 24px;
  transition: 0.25s;
  font-size: 12px;
  transform: translateY(3px)
}

.fontSearch::placeholder {
  color: var(--color-medium-dark)
}

.fontSearch:focus {
  border-color: var(--color-light);
  width: 170px;
}

.saveFontButton {
  font-size: 12px;
  padding: 10px;
  padding-top: 14px;
  padding-bottom: 14px;
  width: 180px;
  height: 30px;
  line-height: 0px;
  background: none;
  border: solid 1px var(--color-medium-light);
  border-radius: 18px;
  color: var(--color-medium-light);
  transition: 0.25s;
  margin: auto;
  margin-top: 80px;
  transform: translateY(-59px);
  height: 30px
}

.saveFontButton:hover {
  border: solid 1px var(--color-light);
  color: var(--color-light);
  width: 210px
}

.colorBox {
  padding: 15px;
  margin: auto;
  display: flex;
  justify-content: center;
  flex-direction: row;
  text-align: center;
}

.colorDisplay {
  font-family: var(--secondary-font);
  border-radius: 2px;
  padding: 5px;
  font-weight: lighter;
  margin: 16px;
  display: flex;
  flex-direction: column;
}

.colorSquare {
  height: 176px;
  width: 50px;
  border: solid .5px var(--color-medium-light);
  margin-right: 5px;
  margin-bottom: 5px;
  box-shadow: 8px 8px 16px 0px rgba(0, 0, 0, .25);
}

.colorRow {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  height: 50%;
}

.chrome-picker {
  background: var(--color-medium-light) !important;
  box-shadow: none !important;
  margin: 16px;
  margin-top: 20px;
  box-shadow: 8px 8px 16px 0px rgba(0, 0, 0, .25) !important;
}

.colorvl {
  border-left: 1px solid var(--color-medium-dark);
  height: 212px;
  margin-top: 3px;
  margin: auto;
  transform: translate(-4.25px, -3.5px);
}

.chrome-picker span {
  font-family: var(--secondary-font) !important;
  color: var(--color-dark) !important;
}

.chrome-picker input {
  background: none !important;
  box-shadow: none !important;
  width: 80% !important;
  border: solid 1px var(--color-dark) !important;
  color: var(--color-dark) !important;
  transition: 0.25s;
}

.chrome-picker input:focus {
  color: var(--color-light) !important;
  width: 90% !important;
  border: solid 1px var(--color-light) !important;
}

.chrome-picker svg {
  fill: var(--color-dark) !important;
}

.chrome-picker svg:hover {
  fill: var(--color-dark) !important;
  background: var(--color-medium-dark) !important;
}

@media(max-width:560px) {
  .colorBox {
    flex-direction: column-reverse;
  }
  .chrome-picker {
    margin: auto;
  }
  .colorSquare {
    width: 55px !important;
    height: 30px !important;
    margin: 0;
    margin-top: 10px;
  }
  .colorDisplay {
    margin: 0;
  }
}

.btn {
  font-size: 12px;
  padding-right: 4px;
  padding-left: 4px;
  background: none;
  border: none;
  color: var(--color-medium-light);
  transition: 0.25s;
}

.active, .btn:hover {
  color: var(--color-light)
}

.darkText {
  color: var(--color-medium-light)
}

.saveColorButton {
  font-size: 12px;
  padding: 10px;
  width: 180px;
  height: 30px;
  line-height: 0px;
  background: none;
  border: solid 1px var(--color-medium-light);
  border-radius: 18px;
  color: var(--color-medium-light);
  transition: 0.25s;
  margin: auto;
  margin-top: 30px;
}

.saveColorButton:hover {
  border: solid 1px var(--color-light);
  color: var(--color-light);
  width: 210px
}

.editSaveAndCancel {
  margin: auto;
  text-align: center;
}

.solidButton {
  font-size: 1em;
  padding: 10px;
  padding-top: 4px !important;
  padding-bottom: 4px !important;
  line-height: 0px;
  background: var(--color-light);
  border: none;
  border-radius: 5px;
  color: var(--color-dark);
  transition: 0.25s;
  margin: 6px;
  height: 30px
}

.solidButton:hover {
  background: var(--color-medium-dark);
  color: var(--color-light);
}

.formBox {
  width: 300px;
  padding: 40px;
  text-align: center;
  margin: auto;
  margin-bottom: 60px
}

.formBox h1 {
  color: var(--color-light);
  font-weight: 500;
}

.formBox input[type="username"], .formBox input[type="password"] {
  border: 0;
  background: none;
  display: block;
  margin: 20px auto;
  text-align: center;
  border: 2px solid var(--color-medium-light);
  padding: 14px 10px;
  width: 200px;
  outline: none;
  color: var(--color-light);
  border-radius: 24px;
  transition: 0.25s;
}

.formBox input[type="username"]:focus, .formBox input[type="password"]:focus {
  width: 250px;
  border-color: var(--color-light)
}

.formBox button {
  border: 0;
  background: none;
  margin: auto;
  text-align: center;
  text-decoration: underline;
  padding: 14px 12px;
  outline: none;
  color: var(--color-light);
  transition: 0.25s;
}

.formBox button:hover {
  color: var(--color-medium-dark);
}

input:-webkit-autofill, input:-webkit-autofill:hover, input:-webkit-autofill:focus, input:-webkit-autofill:active {
  -webkit-animation: autofill 0s forwards;
  animation: autofill 0s forwards;
}

@keyframes autofill {
  100% {
    background: transparent;
    color: inherit;
  }
}

@-webkit-keyframes autofill {
  100% {
    background: transparent;
    color: inherit;
  }
}

.topBar {
  height: 30px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.logoutSection {
  text-align: right;
  transform: translate(-60px, 4vh);
}

.logoutButton {
  font-size: 12px;
  background: none;
  border: none;
  border-radius: 18px;
  color: var(--color-medium-light);
  margin: auto;
  transition: 0.25s;
}

.logoutButton:hover {
  color: var(--color-light);
}

.previewModeButton {
  position: fixed;
  top: 4vh;
  left: 60px
}

.previewKitText {
  margin-bottom: 3px;
}

.controlsText {
  text-align: left;
  position: absolute;
  color: var(--color-medium-light);
}

.currentKitBox {
  height: 230px;
  width: 485px;
  padding: 15px;
  margin: auto;
  margin-bottom: 60px;
  display: flex;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
  text-align: center;
  border: solid 1px var(--color-medium-dark);
  border-radius: 24px;
  background-color: rgba(255, 255, 255, .05);
}

.colorChoiceDisplay {
  font-family: var(--secondary-font);
  width: 160px;
  height: 225px;
  border-radius: 2px;
  padding: 0px;
  font-weight: lighter;
  transform: translate(0px, -4px);
}

.colorChoiceSquare {
  height: 60%;
  width: 100%;
  border: solid .5px var(--color-medium-light);
  border-radius: 5px;
  margin-bottom: 5px
}

.colorChoiceHex {
  text-align: center;
  font-size: 1em;
  margin: 3px;
}

.fontChoiceDisplay {
  width: 300px;
  height: 225px;
  transform: translateX(6px)
}

.mainFontChoiceDisplay {
  font-size: 3em;
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.secondaryFontChoiceDisplay {
  font-size: 2em;
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  transform: translateY(-12%);
}

@media(max-width:460px) {
  .mainFontChoiceDisplay {
    font-size: 3em;
  }
  .secondaryFontChoiceDisplay {
    font-size: 1.75em;
  }
  ;
}

@media(min-width:461px) {
  .mainFontChoiceDisplay {
    font-size: 4em;
  }
  .secondaryFontChoiceDisplay {
    font-size: 2.5em;
  }
  ;
}

@media(min-width:630px) {
  .mainFontChoiceDisplay {
    font-size: 5em;
  }
  .secondaryFontChoiceDisplay {
    font-size: 3.25em;
  }
  ;
}

.saveKitButton {
  font-size: 12px;
  padding: 10px;
  width: 120px;
  height: 30px;
  line-height: 0px;
  background: none;
  border: solid 1px var(--color-medium-light);
  border-radius: 18px;
  color: var(--color-medium-light);
  transition: 0.25s;
  margin: auto;
  margin-top: 30px;
  text-align: center;
  margin-right: 0px;
}

.saveKitButton:hover {
  border: solid 1px var(--color-light);
  color: var(--color-light);
  width: 150px
}

.MOS {
  font-size: 18px;
  padding-left: 5px;
  padding-right: 5px;
  transform: translateY(2px);
  margin-top: 5px;
}

.fontVariationButtonGroup {
  width: 200px;
  margin: auto;
  margin-bottom: 4px;
}

.fontVariationButton {
  font-size: 14px;
  padding-right: 4px;
  padding-left: 4px;
  background: none;
  border: none;
  color: var(--color-medium-dark);
  transition: 0.25s;
}

.active, .fontVariationButton:hover {
  color: var(--color-light)
}

.fontTooltip {
  display: inline-block;
  font-size: 12px;
  width: 16px;
  height: 16px;
  line-height: 16px;
  text-align: center;
  background-color: var(--color-medium-dark);
  color: var(--color-light);
  border-radius: 100%;
  margin-left: 5px;
  transform: translate(-15px, -5px);
  user-select: none;
  position: absolute;
}

.__react_component_tooltip.show {
  opacity: 1 !important;
  background-color: var(--color-medium-dark);
  color: var(--color-light);
  box-shadow: 8px 8px 16px 0px rgba(0, 0, 0, .5);
}

.uhOh {
  text-align: center;
  color: var(--color-medium-light);
  user-select: none;
}

.uhOhButton {
  color: var(--color-light)
}

.uhOhButton:hover {
  color: var(--color-medium-light);
  cursor: pointer;
}