.navBar {
    text-align: center;
    color: red;
    transform: translateX(-18px);
}

.navBar li {
    display: inline;
    text-align: center;
    padding: 12px;
}
.navBar a {
    color: var(--color-medium-dark);
    text-decoration: none;
    transition: 0.25s;
    cursor: default !important;
}
.navBar a:visited {
    color: var(--color-medium-dark)
}
.navBar a:hover {
    color: var(--color-light);
}

.active {
    color: var(--color-light) !important
}